---
import ScannerBase from '../components/Scanner.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>ESP32 WiFi Scanner</title>
	</head>
	<body class="bg-gray-900 m-0">
		<ScannerBase />
	</body>
</html>
